<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="LoginMethod" value="WITHLOGIN"/>
    <add key="LoginFrom" value="DB"/>
    <add key="UserListTable" value="user"/>
    <add key="FieldUserLogin" value="userid"/>
    <add key="FieldUserLoginType" value="String"/>
    <add key="FieldUserPwd" value="password"/>
    <add key="FieldUserPwdType" value="String"/>
    <add key="TablesFile" value="permission.config"/>
    <add key="LoginFile" value="Login.aspx"/>
    <add key="StartPage" value="Login.aspx"/>
    <add key="LCID" value="2057"/>
    <add key="StringEmpty" value="DBNull"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
		<add name="Deviec_SA_V1ConnectionString" connectionString="Data Source=172.30.203.155;Initial Catalog=SA_System;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>