<?xml version="1.0"?><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<appSettings>
		<add key="LoginMethod" value="WITHLOGIN"/>
		<add key="LoginFrom" value="DB"/>
		<add key="UserListTable" value="user"/>
		<add key="FieldUserLogin" value="userid"/>
		<add key="FieldUserLoginType" value="String"/>
		<add key="FieldUserPwd" value="password"/>
		<add key="FieldUserPwdType" value="String"/>
		<add key="TablesFile" value="permission.config"/>
		<add key="LoginFile" value="Login.aspx"/>
		<add key="StartPage" value="Login.aspx"/>
		<add key="LCID" value="2057"/>
		<add key="StringEmpty" value="DBNull"/>
	</appSettings>
	<connectionStrings>
		<add name="Deviec_SA_V1ConnectionString" connectionString="Data Source=172.30.203.155;Initial Catalog=SA_System;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!--<globalization culture="en-GB"/>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>--></assemblies>
      <!--<buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders>-->
    </compilation>
	</system.web>
	<!--<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>-->
	<!--<pages>
    <controls>
   
    </controls>
  </pages>-->
<!--<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects>-->
</configuration>